body {
    background-color: lightblue;
}

h1 {
    color: lightcoral;
    text-align: center;
    font-size: 300%;
}

h2 {
    color: lightcoral;
    text-align: center;
    font-size: 200%;
}

   

p {
    font-family: verdana;
    font-size: 100%;
    text-align: center;
    color: lightcoral;
    padding-bottom: 250px;
}
